# "0122" 14/05/2003

ARCHIVE xkb1_14x.zip
INSTALL BIN/KEYB.BAT keyb.bat
INSTALL BIN/KEYMAN.EXE keyman.exe
INSTALL BIN/LISTXDEF.EXE listxdef.exe
INSTALL BIN/SCANKBD.EXE scankbd.exe
INSTALL BIN/XKEYB.EXE xkeyb.exe
INSTALL BIN/XKEYBRES.EXE xkeybres.exe

INSTALL BIN/PC437.KEY key/pc437.key
INSTALL BIN/KEY/BE.KEY key/be.key
INSTALL BIN/KEY/BR275.KEY key/br275.key
INSTALL BIN/KEY/CF.KEY key/cf.key
INSTALL BIN/KEY/CZ.KEY key/cz.key
INSTALL BIN/KEY/DK.KEY key/dk.key
INSTALL BIN/KEY/DV.KEY key/dv.key
INSTALL BIN/KEY/FR.KEY key/fr.key
INSTALL BIN/KEY/GR.KEY key/gr.key
INSTALL BIN/KEY/HU-101K.KEY key/hu-101k.key
INSTALL BIN/KEY/HU-102K.KEY key/hu-102k.key
INSTALL BIN/KEY/IT142.KEY key/it142.key
INSTALL BIN/KEY/LA.KEY key/la.key
INSTALL BIN/KEY/LH.KEY key/lh.key
INSTALL BIN/KEY/LV.KEY key/lv.key
INSTALL BIN/KEY/NL.KEY key/nl.key
INSTALL BIN/KEY/NO.KEY key/no.key
INSTALL BIN/KEY/PL214.KEY key/pl214.key
INSTALL BIN/KEY/PO.KEY key/po.key
INSTALL BIN/KEY/RH.KEY key/rh.key
INSTALL BIN/KEY/RU.KEY key/ru.key
INSTALL BIN/KEY/SF.KEY key/sf.key
INSTALL BIN/KEY/SG.KEY key/sg.key
INSTALL BIN/KEY/SL.KEY key/sl.key
INSTALL BIN/KEY/SP.KEY key/sp.key
INSTALL BIN/KEY/SU.KEY key/su.key
INSTALL BIN/KEY/SV.KEY key/sv.key
INSTALL BIN/KEY/TR179.KEY key/tr179.key
INSTALL BIN/KEY/TR440.KEY key/tr440.key
INSTALL BIN/KEY/UK.KEY key/uk.key
INSTALL BIN/KEY/US.KEY key/us.key
INSTALL BIN/KEY/YU.KEY key/yu.key
